.search {
  display: grid;
  grid-row-gap: 30px;
  width: 80%;

  font-family: "Lato", sans-serif;
}

.searchButton {
  width: 40%;
  margin-left: 10%;
  height: 50px;

  background-color: rgb(113, 146, 199);
  box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0, 0, 0, 0.6);
}

.textBox {
  width: calc(40px + 35%);
  border: solid;
  border-width: 1px;
}

label {
  width: auto;
}
